<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine On
    RewriteBase /

    # If the request isn't for an actual file OR folder, send to public folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Special rule: If they just access the domain directly, send to public/index.php
    RewriteRule ^$ public/index.php [L]
</IfModule>
